     /*FULL SCREEN*/
@media (min-width: 972px)
{
  .container img {
    width: 1500px;
    height: auto;
   }
   .tinted-image {
    width: 600px;
    height: 555px;
  }
 /*THE SERIOUS EATS*/
h4 {
     top: 75px; 
     left: 125px; 
     font-size: 48px;
    }
  /*THANKSGIVING*/
  h1 {
    top: 150px ;
    left: 100px;
    font-size: 96px;
  }
  /*SURVIVAL GUIDE*/
  h2 {
     top: 300px; 
     left: 150px;
     font-size: 48px; 
  } 
  .pie {
    position: absolute; 
     top: 400px;
     left: 250px; 
   }
}    

/*SECOND SCREEN*/
@media  (min-width: 768px) and (max-width: 971px)
{
  .container img {
    width: 800px;
    height: auto;
   }
   .tinted-image {
    width: 800px;
    height: 300px;
  }
   /*THE SERIOUS EATS*/
  h4 {
    top: -10px;
    left: 250px;
    font-size: 32px;
  }
   /*THANKSGIVING*/
  h1 {
    top: 3px ;
    left: 200px;
    font-size: 82px;
  }
   /*SURVIVAL GUIDE*/
  h2 {
     top: 120px; 
     left: 275px;
     font-size: 32px; 
  } 
  .pie {
    position: absolute; 
     top: 180px;
     left: 310px;
   }
  
}
/*THIRD SCREEN*/
@media (min-width: 480px) and (max-width: 767px)
{
  .container img {
    width: 500px;
    height: auto;
  }
  .tinted-image {
    width: 500px;
    height: 185px;
  }
   /*THE SERIOUS EATS*/
  h4 {
    top: -20px;
    left: 120px;
    font-size: 32px;
  }
   /*THANKSGIVING*/
  h1 {
    top: 20px ;
    left: 100px;
    font-size: 64px;
  }
   /*SURVIVAL GUIDE*/
  h2 {
     top: 100px; 
     left: 120px;
     font-size: 32px; 
  }
  .pie {
    position: absolute;
    top: 75px; 
    left: 425px;
  }
  .pie img {
    width: 75px;
    height: auto;
  }
}
/*FOURTH SCREEN*/
@media  (min-width: 320px) and (max-width: 479px)
 {
  .container img {
    width: 350px;
    height: auto;
  }
  .tinted-image {
    width: 350px;
    height: 130px;
  }
    /*THE SERIOUS EATS*/
  h4 {
    top: -18px;
    left: 80px;
    font-size: 24px;
  }
   /*THANKSGIVING*/
  h1 {
    top: 25px ;
    left: 90px;
    font-size: 36px;
  }
   /*SURVIVAL GUIDE*/
  h2 {
     top: 75px; 
     left: 90px;
     font-size: 24px; 
  }
 .pie {
    position: absolute;
    top: 50px; 
    left: 300px;
  }
  .pie img {
    width: 50px;
    height: auto;
  }
}

/*---------------------------------------------------*/


.container img{ 
	  border-color: #000000;
    border-width: 10px;
    border-style: solid;
  }

.orange:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 18px;
  left: 18px;
  background: rgba(255,175,75,1);
  background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,0.4) 10%, rgba(255,146,10,0.34) 11%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(10%, rgba(255,146,10,0.4)), color-stop(11%, rgba(255,146,10,0.34)));
background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,0.4) 10%, rgba(255,146,10,0.34) 11%);
background: -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,0.4) 10%, rgba(255,146,10,0.34) 11%);
background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,0.4) 10%, rgba(255,146,10,0.34) 11%);
background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(255,146,10,0.4) 10%, rgba(255,146,10,0.34) 11%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
  }

h4 {
	 position: absolute; 
     width: 100%; 
     color: white;
     font-family: 'Fira Sans', sans-serif;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

h1 {
  	 position: absolute; 
   	 width: 100%;
   	 color: white;
   	 font-family: 'Great Vibes', cursive;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

h2 {
	   position: absolute; 
     width: 100%;
     color: white;
     font-family: 'Fira Sans', sans-serif;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }




